.firstheader h1{
    font-size: 40px;
    margin-left: 80px;
    margin-top: 50px;
}
.firstTextContainer 
{
    margin-top: 30px;
    margin-left: 100px;
}
.firstTextContainer p{
    font-size: 18px;
}
.firstTextContainer h2{
    margin-top: 30px;
    font-size: 20px;
}
.ViolationHeader {
    margin-left: 100px;
    margin-top: 50px;
}
.ViolationHeader h1{
    font-size: 25px;
}
.ViolationList ul{
    margin-left: 20px;
    margin-top: 20px;
    line-height: 30px;
}
.ViolationList li{
    list-style-type: " > ";
}